#set_pass_cover {
  width: 45%;

  margin: auto;
  margin-top: 20px;
  padding: 5px;
  padding-top: 50px;
  border-radius: 5px;
  background-color: whitesmoke;
  background-color: transparent;
}

#set_pass_head {
  margin-bottom: 50px;
}
