#login_box {
  /* border:  solid red 1px; */
  height: 500px;
  width: 45%;

  margin: auto;
  margin-top: 50px;
  padding: 5px;
  padding-top: 50px;
  border-radius: 5px;
  background-color: whitesmoke;
}
#login_outer {
  width: 80%;
  margin: auto;
  /* background-image: url("https://thumbs.dreamstime.com/z/cat-dog-banner-16533511.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}
#log-reg-links {
  /* border: solid red 1px; */
  position: relative;
  top: 100px;
}
